<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h1 style="text-align: center">{{ text }}</h1>
<form action="login" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="username" name="username"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" id="passwd" name="passwd"></td>
        </tr>
        <tr>
            <td><button type="submit">登录</button></td>
            <td><button type="reset">重置</button></td>
        </tr>
    </table>
</form>
</body>
</html>